Repository isdi-coders-2023/Alexander-Guillen-Final-Project-front-202301-bcn: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Add Eyes component styles
  src/components/Eyes/EyesStyles.ts
Due: eslint

Add Eyes component
  package-lock.json
  package.json
  src/components/Eyes/Eyes.tsx
Due: none

Test Eyes component
  src/components/Eyes/Eyes.test.tsx
Due: none

Add renderWithProviders function
  src/testsUtils/renderWithProviders.tsx
Due: none

Modify ButtonAction and CredentialsForm styles tsx extension to ts
  src/components/ButtonAction/ButtonActionStyles.ts
  src/components/CredentialsForm/CredentialsFormStyles.ts
Due: eslint

Add handleOnSubmit, handleOnCredentialChange and error alert
  src/components/CredentialsForm/CredentialsForm.tsx
Due: none

Amplify test with loginUser call and error message display onPress
  src/components/CredentialsForm/CredentialsForm.test.tsx
Due: none

Add logo.svg to assets and svg type declaration
  assets/declarations.d.ts
  assets/logo.svg
  package.json
Due: eslint

Add Login screen
  package.json
  src/screens/LoginScreen/LoginScreen.tsx
Due: none

Style Login screen
  src/screens/LoginScreen/LoginScreenStyles.ts
Due: eslint

Add svg mock for tests and metro configuration resolver
  __mocks__/svgMock.js
  metro.config.js
Due: prettier --write

Test Login screen
  package.json
  src/screens/LoginScreen/LoginScreen.test.tsx
Due: none

Modify keyboard layout mode and add LoginScreen to App
  App.tsx
  app.json
  src/screens/LoginScreen/LoginScreen.test.tsx
Due: none

Add data module with useUser test utilities
  src/testsUtils/data.ts
Due: eslint

Delete tokenPayload and testStore initializations, instead, import them
  src/hooks/useUser/useUser.test.tsx
Due: none

Refactor tests which use ui preloadedState to include its entire state
  src/components/ButtonAction/ButtonAction.test.tsx
  src/components/ButtonAction/ButtonAction.tsx
  src/components/Eyes/Eyes.test.tsx
  src/screens/LoginScreen/LoginScreen.test.tsx
Due: none

Type modal and add it to uiSlice with openModal and closeModal actions
  src/store/features/uiSlice/uiSlice.ts
  src/types.ts
Due: eslint

Test uiReducer with openModal and closeModal actions
  src/hooks/useUser/useUser.test.tsx
  src/store/features/uiSlice/uiReducer.test.ts
  src/testsUtils/data.ts
  src/testsUtils/renderWithProviders.tsx
Due: eslint

Add modal-delete svg to assets
  assets/modal-delete.svg
Due: none

Add FeedbackModal component
  package-lock.json
  package.json
  src/components/FeedbackModal/FeedbackModal.tsx
Due: none

Style FeedbackModal component
  src/components/FeedbackModal/FeedbackModalStyles.ts
Due: eslint

Test FeedbackModal component
  package.json
  src/components/FeedbackModal/FeedbackModal.test.tsx
  src/jest.setup.ts
Due: eslint

Modify slice to not reset isError property in closeModal action
  src/store/features/uiSlice/uiReducer.test.ts
  src/store/features/uiSlice/uiSlice.ts
Due: eslint

Modify loginUser function to handle possible 401 error
  App.tsx
  src/hooks/useUser/useUser.ts
  src/screens/LoginScreen/LoginScreen.test.tsx
  src/screens/LoginScreen/LoginScreen.tsx
  src/screens/LoginScreen/LoginScreenStyles.ts
Due: eslint

Modify useUser, FeedbackModal tests to include wrong credentials case
  src/components/FeedbackModal/FeedbackModal.test.tsx
  src/hooks/useUser/useUser.test.tsx
  src/mocks/handlers.ts
Due: eslint

Update uiSlice with isLoading and setLoading and unsetLoading actions
  src/store/features/uiSlice/uiSlice.ts
  src/types.ts
Due: eslint

Test reducer with setLoading and unsetLoading actions
  src/hooks/useUser/useUser.ts
  src/store/features/uiSlice/uiReducer.test.ts
Due: eslint

Update useUser-loginUser function to include loading actions
  src/hooks/useUser/useUser.ts
Due: eslint

Update useUser-loginUser tests to include loading actions
  src/hooks/useUser/useUser.test.tsx
Due: none

Update CredentialsForm test with calling dispatch case
  src/components/CredentialsForm/CredentialsForm.test.tsx
Due: none

Add Loader component
  src/components/Loader/Loader.tsx
Due: none

Style Loader component
  src/components/Loader/LoaderStyles.tsx
Due: none

Test Loader component
  src/components/Loader/Loader.test.tsx
Due: none

Add useToken hook and getToken function
  src/hooks/useToken/useToken.ts
  src/hooks/useUser/useUser.ts
Due: eslint

Test useToken getToken function
  package-lock.json
  package.json
  src/hooks/useToken/useToken.test.tsx
  src/jest.setup.ts
Due: eslint

Add Flashcards type
  src/types.ts
Due: eslint

Add flashcardsSlice with loadFlashcards action
  src/store/features/flashcardsSlice/flashcardsSlice.ts
Due: eslint

Add flashcards list and test loadFlashcards action
  src/store/features/flashcardsSlice/flashcardsReducer.test.ts
  src/store/features/flashcardsSlice/flashcardsSlice.ts
  src/testsUtils/data.ts
Due: eslint

Add useFlashcards hook with loadFlashcards function
  src/hooks/useFlashcards/useFlashcards.ts
Due: eslint

Add GET '/flashcards' msw handler
  src/mocks/handlers.ts
Due: eslint

Path conditions:
  eslint: any of: *.{ts, tsx}
  prettier --write: any of: *.{js, json, ts, css, md}
