Repository isdi-coders-2023/Alexander-Guillen-Final-Project-front-202301-bcn: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Test loadFlashcards function
  src/hooks/useFlashcards/useFlashcards.test.tsx
  src/hooks/useToken/useToken.test.tsx
  src/hooks/useToken/useToken.ts
  src/testsUtils/data.ts
  src/types.ts
Due: eslint

Add new test for useToken when .getItem returns null
  src/hooks/useToken/useToken.test.tsx
Due: none

Add Jost font to useFonts hook
  package-lock.json
  package.json
  src/styles/useFonts.ts
Due: eslint

Add FlashcardFlip component
  src/components/Flashcard/Flashcard.tsx
Due: none

Style FlashcardFlip component
  src/components/Flashcard/FlashcardStyles.ts
Due: eslint

Test FlashcardFlip component
  src/components/Flashcard/Flashcard.test.tsx
  src/jest.setup.ts
Due: eslint

Add FlashcardsList component
  src/components/FlashcardsList/FlashcardsList.tsx
Due: none

Test FlashcardsList component
  App.tsx
  src/components/FlashcardsList/FlashcardsList.test.tsx
  src/testsUtils/data.ts
Due: eslint

Add flashcardsReducer to store
  src/store/store.ts
Due: eslint

Test HomeScreen
  src/screens/HomeScreen/HomeScreen.test.tsx
Due: none

Style HomeScreen
  App.tsx
  src/screens/HomeScreen/HomeScreenStyles.ts
Due: eslint

Add list of languages
  assets/languages.json
Due: none

Add HomeScreen with Picker and FlashcardsList
  package-lock.json
  package.json
  src/components/FlashcardsList/FlashcardsList.tsx
  src/screens/HomeScreen/HomeScreen.tsx
Due: none

Remove StyleProp and TextStyle imports
  src/screens/HomeScreen/HomeScreenStyles.ts
Due: eslint

Add deleteFlashcard action to flashcardsSlice
  src/store/features/flashcardsSlice/flashcardsSlice.ts
Due: eslint

Test flashcardsReducer with deleteFlashcard action
  src/store/features/flashcardsSlice/flashcardsReducer.test.ts
Due: eslint

Add deleteFlashcard function in useFlashcards hook
  src/hooks/useFlashcards/useFlashcards.ts
  src/testsUtils/data.ts
Due: eslint

Test deleteFlashcard function
  src/hooks/useFlashcards/useFlashcards.test.tsx
  src/mocks/handlers.ts
  src/types.ts
Due: eslint

Delete react module mock from HomeScreen test
  src/screens/HomeScreen/HomeScreen.test.tsx
Due: none

Add Navigator component with LoginScreen and HomeScreen
  package-lock.json
  package.json
  src/navigation/Navigator.tsx
Due: none

Add RootStackParamsList and HomeScreenNavigation types
  .eslintrc.js
  src/navigation/types.ts
Due: eslint, prettier --write

Test Navigator, modify renderWithProviders and create test Wrapper
  src/hooks/useFlashcards/useFlashcards.test.tsx
  src/hooks/useToken/useToken.test.tsx
  src/hooks/useUser/useUser.test.tsx
  src/hooks/useUser/useUser.ts
  src/mocks/Wrapper.tsx
  src/navigation/Navigator.test.tsx
  src/testsUtils/renderWithProviders.tsx
Due: eslint

Rename ButtonAction component with ButtonForm
  src/components/ButtonForm/ButtonForm.test.tsx
  src/components/ButtonForm/ButtonForm.tsx
  src/components/ButtonForm/ButtonFormStyles.ts
  src/components/CredentialsForm/CredentialsForm.tsx
Due: eslint

Add DeleteOrCreateAction component
  assets/flashcardDelete.svg
  src/components/DeleteOrCreateAction/DeleteOrCreateAction.tsx
Due: none

Style DeleteOrCreateAction component
  src/components/DeleteOrCreateAction/DeleteOrCreateActionStyles.ts
Due: eslint

Test DeleteOrCreateAction component
  src/components/DeleteOrCreateAction/DeleteOrCreate.test.tsx
Due: none

Add DeleteOrCreateAction to Flashcard component and update its test
  src/components/Flashcard/Flashcard.test.tsx
  src/components/Flashcard/Flashcard.tsx
Due: none

Add Navigator to App
  App.tsx
  src/components/ButtonAction/ButtonAction.tsx
  src/components/ButtonAction/ButtonActionStyles.ts
  src/components/FlashcardsList/FlashcardsList.test.tsx
  src/hooks/useFlashcards/useFlashcards.ts
  src/mocks/Wrapper.tsx
  src/navigation/Navigator.tsx
  src/screens/HomeScreen/HomeScreen.tsx
Due: eslint

Delete imageBackup property from Flashcard
  src/components/Flashcard/Flashcard.test.tsx
  src/components/Flashcard/Flashcard.tsx
  src/testsUtils/data.ts
  src/types.ts
Due: eslint

Add createFlashcard action
  src/store/features/flashcardsSlice/flashcardsSlice.ts
Due: eslint

Test createFlashcard action
  src/components/Flashcard/Flashcard.test.tsx
  src/store/features/flashcardsSlice/flashcardsReducer.test.ts
Due: eslint

Add FlashcardResponse type and FlashcardPayload
  src/components/Flashcard/Flashcard.test.tsx
  src/components/Flashcard/Flashcard.tsx
  src/store/features/flashcardsSlice/flashcardsReducer.test.ts
  src/store/features/flashcardsSlice/flashcardsSlice.ts
  src/types.ts
Due: eslint

Add createFlashcard function
  src/hooks/useFlashcards/useFlashcards.ts
Due: eslint

Add msw handler for createFlashcard request endpoint
  src/mocks/handlers.ts
Due: eslint

Add flashcardCreated and flashcardCreatedError modals to test utils
  src/testsUtils/data.ts
Due: eslint

Test createFlashcard function
  src/hooks/useFlashcards/useFlashcards.test.tsx
Due: none

Add FlashcardsForm component
  src/components/FlashcardsForm/FlashcardsForm.tsx
Due: none

Style FlashcardsForm component
  src/components/FlashcardsForm/FlashcardFormStyles.ts
Due: eslint

Test FlashcardsForm component
  src/components/FlashcardsForm/FlashcardsForm.test.tsx
Due: none

Implement renderHookWithStore function in custom hooks tests
  src/hooks/useFlashcards/useFlashcards.test.tsx
  src/hooks/useToken/useToken.test.tsx
  src/hooks/useUser/useUser.test.tsx
  src/hooks/useUser/useUser.ts
Due: eslint

Path conditions:
  eslint: any of: *.{ts, tsx}
  prettier --write: any of: *.{js, json, ts, css, md}
