Repository isdi-coders-2023/Alexander-Guillen-Final-Project-front-202301-bcn: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{ts, tsx}": "eslint",
  "*.{js, json, ts, css, md}": "prettier --write"
}

Install husky and add hooks to husky folder
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
Due: none

Add audit, sonar and testing actions
  .github/workflows/audit.yml
  .github/workflows/sonar.yml
  .github/workflows/testing.yml
  .gitignore
  package.json
  sonar-project.properties
Due: none

Install jest and add its config
  package-lock.json
  package.json
  sonar-project.properties
Due: none

Rename sonar action branch to main
  .github/workflows/sonar.yml
  App.tsx
Due: none

Add User, UserState and TokenResponse types to source types
  src/types.ts
Due: eslint

Enable interface type definitions
  .eslintrc.js
Due: prettier --write

Install testing necessary dependencies
  package-lock.json
  package.json
Due: none

Add plugins to babel configuration
  babel.config.js
Due: prettier --write

Configure a new redux store and type RootState and AppDispatch
  src/store/store.ts
Due: eslint

Add lingoDeckDispatch and lingoDeckSelector hooks
  src/store/hooks.ts
Due: eslint

Add a new user slice with loadUser action, export reducer and action
  src/store/features/userSlice/userSlice.ts
Due: eslint

Add Provider with created store in App.tsx
  App.tsx
Due: none

Test userReducer with loadUser action
  .github/workflows/sonar.yml
  package.json
  sonar-project.properties
  src/store/features/userSlice/userReducer.test.ts
Due: eslint

Install jwt-decode and add jest setup files
  package-lock.json
  package.json
Due: none

Ignore .env file
  .gitignore
Due: none

Add POST /user/login handler
  src/mocks/handlers.ts
Due: eslint

Add mock server setup with handlers
  src/mocks/server.ts
Due: eslint

Add setupFileAfterEnv module
  src/jest.setup.ts
Due: eslint

Add LoginTokenPayload, ErroResponse and UserCredentials types
  src/types.ts
Due: eslint

Add setupStore function and type loadUser action output
  src/store/features/userSlice/userSlice.ts
  src/store/store.ts
Due: eslint

Add token test util
  src/testsUtils/data.ts
Due: eslint

Test useUser-loginUser function
  .github/workflows/sonar.yml
  .gitignore
  sonar-project.properties
  src/hooks/useUser/useUser.test.tsx
  src/hooks/useUser/useUser.ts
Due: eslint

Add CredentialsForm component
  src/components/CredentialsForm/CredentialsForm.tsx
Due: none

Add CredentialsForm styles
  src/components/CredentialsForm/CredentialsFormStyles.tsx
Due: none

Add CredentialsForm visibility test
  src/components/CredentialsForm/CredentialsForm.test.tsx
Due: none

Add jest-dom and jest native/extend-expect to test setup
  src/jest.setup.ts
Due: eslint

Add useFonts hook
  src/styles/useFonts.ts
Due: eslint

Add font loading and splash screen to App
  App.tsx
Due: none

Install expo-font/splash-screen and inter fonts libraries
  package-lock.json
  package.json
Due: none

Disable typescript naming convention and unsafe assignment for tests
  .eslintrc.js
Due: prettier --write

Rename loadUser action with loginUser
  src/components/CredentialsForm/CredentialsForm.test.tsx
  src/hooks/useUser/useUser.test.tsx
  src/hooks/useUser/useUser.ts
  src/store/features/userSlice/userReducer.test.ts
  src/store/features/userSlice/userSlice.ts
Due: eslint

Add ButtonAction component
  src/components/ButtonAction/ButtonAction.tsx
Due: none

Style ButtonAction component
  src/components/ButtonAction/ButtonActionStyles.tsx
Due: none

Test ButtonAction component
  src/components/ButtonAction/ButtonAction.test.tsx
Due: none

Rename credentialsForm styles properties
  src/components/CredentialsForm/CredentialsForm.tsx
  src/components/CredentialsForm/CredentialsFormStyles.tsx
Due: none

Add UiState type
  src/types.ts
Due: eslint

Add uiSlice with openEyes and closeEyes actions
  src/components/Eyes/LottieView.d.ts
  src/store/features/uiSlice/uiSlice.ts
Due: eslint

Add uiReducer to the store
  src/store/store.ts
Due: eslint

Test uiReducer with openEyes and closeEyes function
  src/store/features/uiSlice/uiReducer.test.ts
Due: eslint

Add eyes.json animation file to assets
  assets/eyes.json
Due: none
